<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Extensions.AzureBlobStorage" />
	</extensions>
	
	<targets>
		<target name="logfile" xsi:type="File" fileName="file.txt" />
		
		<target
		xsi:type="AzureBlobStorage"
		name="azure"
		connectionString="DefaultEndpointsProtocol=https;AccountName=blackmarket2022;AccountKey=2ePxbExzqwJ+wHGHNauZEDX59TS1g6tMDP08RXwyqq3jrPzYbcLVKXF+o6GtlABbZtELZ3aRkKqX+ASt3Jlkpg==;EndpointSuffix=core.windows.net"
		container="weblogs"
		blobName="${date:universalTime=true:format=yyyy-MM-dd}.log" />
	</targets>

	<rules>
		<!--<logger name="*" minlevel="Info" writeTo="azure" />-->
		<logger name="*" minlevel="None" writeTo="azure" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>